<h3>Create Song</h3>
<div [hidden]="submitted" style="width: 100%;">
  <form #songForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="play-container">
        <div class="row" *ngIf="titleError">
            <div class="col-12 alert alert-danger">
                {{ titleError }}
            </div>
        </div>

        <div class="row" *ngIf="artistError">
            <div class="col-12 alert alert-danger">
                {{ artistError }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-2">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" required minlength="1" [(ngModel)]="song.title" name="title">
            </div>
        
            <div class="col-md-6 mb-2">
                <label for="artist">Artist</label>
                <input type="text" class="form-control" id="artist" required minlength="1" [(ngModel)]="song.artist" name="artist">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-2">
                <label for="album">Album</label>
                <input type="text" class="form-control" id="album" required [(ngModel)]="song.album" name="album">
            </div>

            <div class="col-md-6 mb-2">
                <label for="image">Image (URL)</label>
                <input type="url" class="form-control" id="image" required [(ngModel)]="song.image" name="image">
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 mb-2">
                <label for="year">Year</label>
                <input type="number" class="form-control" id="year" required [(ngModel)]="song.year" name="year">
            </div>

            <div class="col-md-10 mb-2">
                <label for="genre">Genre</label>
                <input type="text" class="form-control" id="genre" required [(ngModel)]="song.genre" name="genre">
            </div>
        </div>

        <div class="form-group">
            <label for="comment">Comment</label>
            <input type="text" class="form-control" id="comment" required [(ngModel)]="song.comment" name="comment">
        </div>
        
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
 
<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newSong()">Add</button>
</div>
