<div class="jumbotron">
    <h1 class="display-4">Welcome to Songshare!</h1>
    <p class="lead">As a user of this site you can view and add songs, and view and add reviews!</p>
    <hr class="my-4">
    <div *ngIf="auth.user$ | async as user; else login">
    </div>
    <ng-template #login>
        <p>To be able to use the site's features, please login!</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
        </p>
    </ng-template>
</div>