<h1>Songs</h1>

<ul *ngIf="songs">
    <li *ngFor="let song of songs">
        <p class="bold">{{ song.title }}</p>
        <p class="bold">{{ song.artist }}</p>
        <p class="bold">{{ song.album }}</p>
        <img class="image" src={{song.image}}>
        <br>
        <p>Genre: {{ song.genre }} </p>
        <p>Currently <span *ngIf="song.hidden; else nothidden" class="bg-danger">hidden</span><ng-template #nothidden><span class="bg-success">not hidden</span></ng-template></p>
        <button class="btn btn-info" type="button" (click)='toggleHidden(song)'>Toggle Hidden</button>
    </li>
</ul>